# Python bytecode
__pycache__/
*.py[cod]
*.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Data (often large)
data/

# Results and experiments
experiments/
results/

# Editor files
*.swp
.DS_Store
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/
# Exclude Zone.Identifier files
*.py:Zone.Identifier
